<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="importFriendDataModalLabel">Import CSV</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <%= form_tag friends_path, multipart: true do %>
      <div class="modal-body">
        <ul class="errors alert-danger"></ul>

          <div class="row my-lg-6">
            <div class="col-lg-4">

            </div>
            <div class="col-lg offset-lg-1">
              <div class="input-group">
                <div class="input-group mb-3">
                  <%= link_to "Download CSV format", "/doc/friend-sample-data-import.csv" %>
                </div>
              </div>
            </div>
          </div>
          <div class="row my-lg-6">
            <div class="col-lg-4">
              <label><strong>Import file</strong><br>Import CSV file which contains Friends Data</label>
            </div>
            <div class="col-lg offset-lg-1">
              <div class="input-group">
                <div class="input-group mb-3">
                  <%= file_field_tag :file, :class=>'form-control' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <input type="submit" name="commit" value="Import" class="btn btn-primary" data-disable-with="Import">
      </div>
    <% end %>
  </div>
</div>
